.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.main h3 {
    width: 500px;
}

.quizForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.quizForm p {
    padding: 10px;
    width: 200px;
    max-height: 65px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #D5CEA3;
}

.quizForm p:hover {
    background-color: #696650;
}

.columnLeft {
    align-self: center;
    margin-right: 50px;
}

.line {
    border-left: 3px solid black;
    margin-right: 3px;
    height: 300px;
}

.columnRight {
    align-self: center;
    margin-left: 50px;
}

.submitButton {
    width: 200px;
    margin-top: 20px;
    border-radius: 5px;
}

/*
Resultpage CSS
*/

.image{
    margin: 2rem 2rem 2rem 2rem;
    width: 100px;
  }
.thumb{
    border: none;
    background-color: white;
}
.thumbsUp{
    transform: scaleY(-1);
    border: none;
    background-color: white;
    padding-left: 20%;
}
.saveButton {
    padding: 10px 40px;
}


