
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    
}
.wallpaper{
    position: absolute;
    height: 100%;
    width:autot;
    opacity: 0.1;
    z-index: -1;
}

.main h3 {
    width: 500px;
}

.quizForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.quizForm button {
    padding: 10px;
    margin: 10px;
    width: 200px;
    max-height: 65px;
    color: black;
    border: 1px solid rgb(233, 233, 222);
    border-radius: 5px;
    background-color: rgb(233, 233, 222);
}

.quizForm button:hover {
    background-color: #696650;
}

.columnLeft {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 50px;
}

.line {
    border-left: 3px solid black;
    margin-right: 3px;
    height: 300px;
}

.columnRight {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 50px;
}

.submitButton {
    background-color: rgb(57, 121, 57);
    border: 1px solid rgb(57, 121, 57);
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;;
    border-radius: 5px;
    color: white;
}

.submitButton:hover {
    background-color: #50695d;
}

.selected-answer {
    background-color: red;
}

@media only screen and (max-width: 720px) {
    .quizForm {
        flex-direction: column;
    }
    .line {
        border-left: 250px solid black;
        margin-right: 2px;
        height: 2px;
        border-radius: 2px;
    }

    .columnRight {
        margin-left: 0px;
        padding-top: 10px;
    }

    .columnLeft {
        margin-right: 0px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .main h3{
        font-size: medium;
        width: auto;
    }
}