main {
    margin: 50px;
    min-height: 80vh;
}

.startpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
}
.info{
    text-align: center;
    width: 50%;
}

.startButton {
    padding: 20px 110px;
    background-color: rgb(57, 121, 57);
    border-color: rgb(57, 121, 57);
}

.startButton:hover {
    background-color: rgb(27, 50, 27);
    border-color: rgb(57, 121, 57);
}


@media only screen and (max-width: 800px) {
    .info{
        width: 80%;
    }
}
@media only screen and (max-width: 550px) {
    .info{
        width: 80%;
    }
    .startpage {
        gap: 50px;
        margin-top: 0px;
    }
    .startButton{
        white-space: nowrap;
        padding: 20px 30%;
    }
}
