
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 1rem;
}
.table th {
  position: sticky;
  top: 0px;
  background-color: white;
}
.table td:nth-child(1){

  width: auto;
  padding-right: 10px;
}
.table tr th {
  text-align: left;
  
}
.table td {
  text-align: left; 
}
.table td:nth-child(2) {
  border-bottom: 1px solid rgb(190, 190, 78);
}
.container button {
  border-radius: 10%;
  border: none;
}
.downloadBtn {
  border: none;
  margin-top: 1rem;
}
.container a {
  color: blue
}
.container a:hover {
  color: purple;
}

@media only screen and (max-width: 720px) {
  .table thead {
    display: none;
  }
  .table  tr{
   display: flex;
   flex-direction: column;
  }
  .table td:nth-child(n+5){
    display: flex;
    flex-direction: column;
   }
  .table td:nth-of-type(1)::before {content: "Movie ";}
  .table td:nth-of-type(2)::before {content: "Quote ";}
  .table td:nth-of-type(3)::before {content: "Character ";}
  .table td:nth-of-type(4)::before {content: "# of quotes ";}
  .table td:nth-of-type(n)::before {font-weight: bold; float:left}
  .table td:nth-of-type(n) {
    text-align: right;
    
  }
  .table td:nth-child(2) {
    border: none;
  }
  .table td:nth-child(6) {
    border-bottom: 1px solid rgb(190, 190, 78);
  }
}

