nav {
    display: flex;
    justify-content: space-between;
    background-color: #D5CEA3;
}

nav p {
    margin-top: 6px;
}

.navs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.userIcon {
    height: 28px;
    mix-blend-mode: multiply;
}

.loginNav {
    text-decoration: none;
    color: black;
}

.loginNav:hover {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    margin: 5px;
    height: 50px;
}

.title {
    display: flex;
    margin-left: 42%;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.title:hover {
    color: black;
}

.projectName {
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.projectName:hover {
    color: black;
}



