nav {
    display: flex;
    justify-content: space-between;
    background-color: #6B492B;
    padding: 1rem;
}

nav p {
    margin-top: 6px;
}
nav :link{
    color: rgb(233, 233, 222);
}



.navs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:rgb(233, 233, 222);
}
.navs:hover{
    color:rgb(233, 233, 222);
}

.userIcon {
    height: 28px;
    mix-blend-mode: multiply;
}

.loginNav {
    text-decoration: none;
    color: rgb(233, 233, 222);
}

.loginNav:hover {
    color: rgb(233, 233, 222);
}

.logo {
    display: flex;
    align-items: center;
    margin: 5px;
    height: 50px;
}

.title { 
    /*"The Projects: gezien bij uitloggen*/
    /*Nog aanpassen voor kleiner --> groter scherm en omgekeerd !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /* margin-left: 30%; */
    font-family: LOTR;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(233, 233, 222);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.title:hover{
    color:rgb(233, 233, 222);
}
.projectName {
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(233, 233, 222);
    margin-left:7%;
    font-family: LOTR;
}

.projectName:hover {
    color: rgb(233, 233, 222);
}
.greetings {
    color: rgb(233, 233, 222);
}

.greetings:hover{
    color: rgb(233, 233, 222);
}


@media only screen and (max-width:700px) {

    .greeting{
        display: none;
    }
    
}
@media only screen and (max-width:500px) {
    .projectName{
        font-size: large;
        text-align: center;
        margin-top: 23px;
    }
    .navs{
        margin-top: 1rem;
        margin-right: 1rem;
        
    }
    .greeting{
        display: none;
    }
    
}
