.main {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  border-collapse: collapse;
}
.main img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.main h1 {
  text-align: center;
}
.theone img {
  filter: none;
  width: 500px;
  height: 200px;
}
.others img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  width: 500px;
  height: 200px;
}

.card .others, .theone {
  transition: all 0.2s ease-in-out;
}
.card .others:hover, .theone:hover{
  transform: scale(1.1);
  border-radius: 10%;
  box-shadow: 5px 7px rgba(17, 12, 46, 0.15);
}
.card{
  width: auto;
}

.others{
  background-color: #d3d3d3;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
.theone{
  background-color: #d3d3d3;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
a, a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  padding-top: 2rem;
}