.resultForm {
  text-align: center;
}

.resultPageHeader {
  display: block;
  text-align: center;
}

.image {
  margin: 2rem 2rem 2rem 2rem;
  width: 100px;
}

.thumbButtons button{
  border-radius: 5px;
  padding: 3px;
  margin: 25px;
  background-color: rgb(57, 121, 57);
}

.footerButtons {
  padding: 10px 40px;
  margin: 5px;
}

@media only screen and (max-width: 550px) {
  /* img movie kleiner maken*/
}
