.resultForm {
  text-align: center;
}

.image {
  margin: 2rem 2rem 2rem 2rem;
  width: 100px;
}

.thumbsDown {
  border: none;
  background-color: white;
}

.thumbsDownClicked {
  transform: scaleY(-1);
  background-color: yellow;
  border: none;
  margin-left: 20%;
}

.thumbsUpClicked {
  background-color: yellow;
  border: none;
}

.thumbsUp {
  transform: scaleY(-1);
  border: none;
  background-color: white;
  margin-left: 20%;
}

.saveButton {
  padding: 10px 40px;
}